<div class="material-input input" ng-class="{'uk-input-error': !vm.isValid()}">
    <input type="text" id="{{vm.identifier}}" maxlength="{{maxLength}}" ng-model="vm.viewValue" ng-change="onChange(vm.viewValue)" onkeypress="return characterNumber(event)" ng-focus="onFocus()" ng-blur="onBlur()" ng-class="{'filled': vm.isFilled()}" ng-disabled="ngDisabled">
    <span class="material-bar"></span>
    <label for="{{vm.identifier}}">{{placeholder}}</label>

</div>
<small class="error filled uk-align-left" ng-if="!vm.isValid() && vm.errorLabel">
	{{vm.errorLabel}}
</small>