@import "../../../../css/extensions/flexbox.scss";
uk-datepicker-input {
    material-input {
        &.uk-datepicker-focus {
            span.material-bar {
                &:after {
                    width: 50%;
                }
                &:before {
                    width: 50%;
                }
            }
            label {
                color: #d9d9d9 !important;
                font-size: 13px !important;
                top: 0 !important;
                line-height: 24px !important;
            }
        }
        display: block;
        > uk-dropdown {
            margin-top: 56px;
            width: auto !important;
            background: rgba(0, 0, 0, 0) !important;
            padding: 15px 0px !important;
            > uk-calendar {
                background-color: #FFF;
            }
        }
    }
}
