@import "../../../../css/extensions/flexbox.scss";
.material {
    uk-chips-input-container {
        &.material-input {
            display: block;
            &.uk-input-focus .material-bar:before,
            &.uk-input-focus .material-bar:after {
                background: #30B131 !important;
                width: 50% !important;
            }
            &.uk-input-focus label,
            &.uk-input-focus .filled label,
            &.filled label {
                color: #d9d9d9 !important;
                font-size: 13px !important;
                top: 0 !important;
                line-height: 24px !important;
            }
            > div {
                > uk-input-autocomplete {
                    display: block;
                    width: 100%;
                    > input {
                        &:focus {
                            background: none;
                            border-color: none;
                        }
                    }
                    > uk-dropdown {
                        margin-top: 49px;
                        width: 290px;
								border: 1px solid rgba(0,0,0,.08);
    							border-radius: 4px;
                        li a {
                           padding-left: 20px;
                        }
                    }
                }
                @include flexbox();
                uk-chips-wrap {
                    border-bottom: 1px solid #d9d9d9;
                    @include flexbox();
                    @include align-items(flex-end);
                    uk-chips-selecteds {
                        @include flexbox();
                        > uk-chip {
                            &.for-delete {
                                border: 1px solid #989898;
                                background-color: #d2d2d2;
                                color: #616161;
                            }
                            border: 1px solid #dfdfdf;
                            @include flexbox();
                            height: 32px;
                            margin-bottom: 11px;
                            background-color: #dfdfdf;
                            padding: 2px 4px 3px 10px;
                            border-radius: 3px;
                            margin-right: 4px;
                            > uk-chip-content {
                                padding-right: 6px;
                                white-space: nowrap;
                            }
                            > uk-chip-remove {
                                cursor: pointer;
                                padding-top: 1px;
                                padding-left: 3px;
                                font-size: 1.2em;
                                border-left: 1px solid #d6d6d6;
                            }
                        }
                    }
                }
            }
        }
    }
}
