<uk-chips-input-container class="material-input input tc-chips" ng-class="{'uk-input-error': !vm.isValid(), 'filled': vm.isFilled()}">
    <div>
        <uk-chips-wrap>
        </uk-chips-wrap>
        <uk-input-autocomplete class="uk-autocomplete uk-form">
            <input type="text" id="{{vm.identifier}}" ng-focus="vm.onFocus()" ng-keyup="vm.onKeyUp($event)" ng-keydown="vm.onKeyDown($event)" ng-model="vm.viewValue" ng-change="vm.onChange(vm.viewValue)" ng-blur="vm.onBlur()">
            <uk-dropdown class="uk-dropdown tc-dropdown" aria-expanded="false">
            </uk-dropdown>
        </uk-input-autocomplete>
    </div>
    <span class="material-bar"></span>
    <label for="{{vm.identifier}}">{{placeholder}}</label>
</uk-chips-input-container>
