<div>
    <label>{{placeholder}}</label>
    <uk-option-items class="uk-grid uk-grid-small uk-margin-top" ng-if="vm.template" option-change="vm.optionChange" option-template="{{vm.template}}" item-collection="itemCollection" ng-model="ngModel">
    </uk-option-items>
</div>

<option-template ng-transclude >
</option-template>
