<!-- <div class="uk-dropdown uk-datepicker" style="left: 25px; top: 195px; display: block;"> -->
<div class="uk-datepicker">
    <div class="uk-datepicker-nav">
        <a href="" ng-click="vm.previousMonth()" class="uk-datepicker-previous"></a>
        <a href="" ng-click="vm.nextMonth()" class="uk-datepicker-next"></a>
        <div class="uk-datepicker-heading">
            <span class="uk-form-select">
                {{vm.monthNames[vm.currentDate.getMonth()]}}&nbsp;
                <select class="update-picker-month" ng-change="vm.setMonth(vm.pickerMonth)" ng-model="vm.pickerMonth">
                    <option ng-value="{{$index}}" ng-selected="$index == vm.currentDate.getMonth()" ng-repeat="month in vm.monthNames">
                        {{month.substring(0,1).toUpperCase() + month.substring(1)}}
                    </option>
                </select>
            </span>
            <span class="uk-form-select">
                {{vm.currentDate.getFullYear()}}
                <select class="update-picker-year" ng-change="vm.setYear(vm.pickerYear)" ng-model="vm.pickerYear">
                    <option ng-value="{{year}}" ng-selected="year == vm.currentDate.getFullYear()" ng-repeat="year in vm.years">
                        {{year}}
                    </option>
                </select>
            </span>
        </div>
    </div>
    <table class="uk-datepicker-table" ng-if="vm.dayNames">
        <thead>
            <tr>
                <th>{{vm.dayNames[1].substring(0,3)}}</th>
                <th>{{vm.dayNames[2].substring(0,3)}}</th>
                <th>{{vm.dayNames[3].substring(0,3)}}</th>
                <th>{{vm.dayNames[4].substring(0,3)}}</th>
                <th>{{vm.dayNames[5].substring(0,3)}}</th>
                <th>{{vm.dayNames[6].substring(0,3)}}</th>
                <th>{{vm.dayNames[0].substring(0,3)}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="week in vm.currentMonthWeek">
                <td ng-repeat="day in week">
        <a href="" ng-click="vm.selectDate(day.date,day.muted)" ng-class="{'uk-datepicker-table-muted': day.muted, 'uk-active': (day.selected && !day.muted)}" >{{day.date.getDate()}}</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
